/*`consideraciones generales*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  padding-top: 80px;
}
body [id]{
  scroll-margin-top: 70px;
}
html{
  scroll-behavior: smooth;
}
.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
a {
  text-decoration: none;
  color: black;
}
  /* barra de navegacion*/
.topheader {
  box-shadow: 0 4px 5px gray;
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}

/* Logo */

.logo {
 margin-left: 5px;
}

.logo img {
  border-radius: 30%;
}

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu a::after {
content: "";

}
.menu li {
  padding: 0 15px;
}

.menu a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}
.menu a::after{
  content: "";
  background-color: orange;
  position: absolute;
  left: 0;
  top:100%;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0,3s;
}
.menu a.select::after,
.menu a:hover::after {
  opacity: 0.8;
}
.open-menu,
.close-menu {
  display: none;
}



@media (max-width: 950px) {
  /* Menu */
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #2c488a;
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    color: white;
    line-height: 60px;
  }

  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-menu {
    align-self: flex-end;
    padding: 20px 15px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }
  .menu a::after{
    content: none; 
  }
  .menu a.select,
  .menu a:hover {
    color:orange;
  }
}
